<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="Jastas-Pista"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_Eventos"
        tools:targetApi="31">
        <activity
            android:name="utils.ActivitySubirImagen"
            android:exported="false" />
        <activity
            android:name=".Activity_Menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="utils.ActivityCrearEventos"
            android:exported="false" />
        <activity
            android:name=".ActivityEntradas"
            android:exported="false" />
        <activity
            android:name=".Activity_Conciertos"
            android:exported="false" />
        <activity
            android:name="utils.AdminLoginActivity"
            android:exported="false" />
    </application>

</manifest>